
/* base */

::highlight(yay-matches) {
    color: white;
    background-color: #00aa66;
}

::highlight(nay-matches) {
    color: white;
    background-color: #dd0066;
}


/* components */

.ok-buddy-log-text,
.ok-buddy-log-box {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
}

.ok-buddy-log-text {
    --ok-buddy-log-transition-duration: 3s;
    z-index: 99999;
    line-height: 5rem;
    text-align: center;
    font-size: 2em;
}

.ok-buddy-log-box {
    z-index: 99998;
    background-color: #333;
}
